{# Static usage : <twig:c975LUi:General:RichSnippet itemscope="https://schema.org/LocalBusiness" name="" description="" [telephone=""] [image=""] [openingHours=""] [priceRange=""] [addressStreetAddress=""] [addressPostalCode=""] [addressAddressLocality=""] [addressAddressCountryCode=""] [addressAddressCountryName=""] /> #}
{# Dynamic usage (Block system) : see templates/blocks/RichSnippet.html.twig #}

<div itemscope itemtype="{{ itemscope }}" class="rich-snippet">
    <span itemprop="name">{{ name }}</span><br><br>
    {% if image is defined and image %}
        <img src="{{ asset(image) }}" alt="{{ name }}" height="50"><br>
        <span itemprop="image" class="sr-only">{{ absolute_url(asset(image)) }}</span>
    {% endif %}
    <span itemprop="description">{{ description }}</span><br>
    {% if openingHours is defined and openingHours %}
        <br><span>{{ 'label.opening_hours'|trans({}, "site") }}<br><span itemprop="openingHours">{{ openingHours }}</span></span><br>
    {% endif %}
    {% if priceRange is defined and priceRange %}
        <br><span>{{ 'label.price_range'|trans({}, "site") }} : <span itemprop="priceRange">{{ priceRange }}</span></span><br>
    {% endif %}
    {% if (addressStreetAddress is defined and addressStreetAddress) or (addressPostalCode is defined and addressPostalCode) or (addressAddressLocality is defined and addressAddressLocality) or (addressAddressCountryCode is defined and addressAddressCountryCode) or (addressAddressCountryName is defined and addressAddressCountryName) %}
        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <br><span>{{ 'label.address'|trans({}, "site") }}</span><br>
            {% if addressStreetAddress is defined and addressStreetAddress %}
                <span itemprop="streetAddress">{{ addressStreetAddress }}</span><br>
            {% endif %}
            {% if addressPostalCode is defined and addressPostalCode %}
                <span itemprop="postalCode">{{ addressPostalCode }}</span>
            {% endif %}
            {% if addressAddressLocality is defined and addressAddressLocality %}
                <span itemprop="addressLocality">{{ addressAddressLocality }}</span><br>
            {% endif %}
            {% if addressAddressCountryName is defined and addressAddressCountryName %}
                <span>{{ addressAddressCountryName }}</span>
            {% endif %}
            {% if addressAddressCountryCode is defined and addressAddressCountryCode %}
                <span itemprop="addressCountry" class="sr-only">{{ addressAddressCountryCode }}</span>
            {% endif %}
        </div>
    {% endif %}
    {% if telephone is defined and telephone %}
        <br>
        <span>{{ 'label.phone'|trans({}, "site") }} : <span itemprop="telephone">{{ telephone }}</span></span>
    {% endif %}
</div>
