{# Static usage : <twig:c975LUi:Image:Image src="your-path/file.ext" [label=""] [class=""] [classLabel=""] [alt=""] [width=""] [height=""] [above=false] /> #}
{# or with an already-resolved URL : <twig:c975LUi:Image:Image imgSrc="{{ vich_uploader_asset(media) }}" .../> #}

{% set above = above|default(false) %}
{% set label = label|default('') %}
{% set imgResponsive = (height is not defined or height == '') and (width is not defined or width == '') ? 'img-responsive' : '' %}
{% set imgSrc = imgSrc|default(src is defined ? absolute_url(asset(src)) : '') %}

{% if imgSrc %}
<p class="text-center">
    {% if above and label != '' %}
        <span class="img-above {{ classLabel|default('') }}">{{ label|raw }}</span>
        <br>
    {% endif %}
    <img src="{{ imgSrc }}"
         class="img {{ imgResponsive }} {{ class|default('') }}"
         alt="{{ alt|default('') }}"
         {% if width is defined and width != '' %}width="{{ width }}"{% endif %}
         {% if height is defined and height != '' %}height="{{ height }}"{% endif %}
         loading="lazy">
    {% if not above and label != '' %}
        <br>
        <span class="img-below {{ classLabel|default('') }}">{{ label|raw }}</span>
    {% endif %}
</p>
{% endif %}