{# Static usage : <twig:c975LUi:Audio:Audio src="your-path/file.ext" type="audio/mpeg"/> #}

<audio controls>
    <source src="{{ src }}" type="{{ type|default('audio/mpeg') }}">
    <p>{{ 'label.audio_not_supported'|trans({}, "site") }} <a href="{{ src }}">{{ 'label.download'|trans({}, "site") }}</a></p>
</audio>
